.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 600px;
    padding: 30px 6vw 30px 6vw;
    background-color: black;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
    transition: .3s;
    z-index: 999;
    width: 100%;
    transition: flex-direction 1s ease-in-out;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-navigation a, 
.footer-navigation p {
    font-size: 12px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column !important;
        gap: 20px
    }
}