/* @import "~react-image-gallery/styles/css/image-gallery.css" */

.intro {
    position: relative;
    margin-top: 15vh;
    height: 400px;
}

.intro-quote1 {
    right: 50px;
    position: absolute;
}

.intro-quote2 {
    top: 0px;
    left: 50px;
    position: absolute;
}

.intro-quote {
    font-family: Consolas;
    font-size: 25px;
    text-transform: uppercase;
}


/* Images */
.intro-image1, .intro-image2 {
    height: auto;
    width: 100%;
}

/* Founder message box */
.founder-message-box {
  white-space: normal;
  display: grid;
  grid-template-columns: 40% 70%;
  height: 500px;
  margin-bottom: 50px;
  background-color: #dadada;
}
.founder-image {
  height: auto;
  margin: auto;
  width: 400px;
}
.founder-message-div {
  display: grid;
  grid-template-rows: repeat(2, 30% 70%);
  grid-template-columns: 1 / span 1;
}
/* .founder-message-box-element{
  padding: 50px;
} */


/*  Grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 65% 60%;
    grid-gap: 5px; /* Adjust as needed */
    height: 300px; /* Set the desired container height */
    margin-bottom: 370px;
  }
  
  .grid-item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  
  .item2 {
    padding-left: 10px;
    height: 350px;
    width: 100%;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
  
  .item3 {
    padding-right: 10px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    height: 410px;
    width: 100%;
  }
  
  .item4 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }


  /* Button */
  .intro-button {
    border: 5px solid black;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-size: 16px;
    position: absolute;
    left: 50px;
    margin-top: 90px;
  }

  .intro-button:hover {
    background-color: black;
    color: white;
  }