.intro-quote {
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.colored-font {
  color: var(--blue);
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.grid-item {
    position: relative;
}

.item1 {
    margin: auto 50px auto 15%;
    display: block;
    transition: margin-left 0.5s ease-in-out;
}
@media(min-width: 2000px) {
    .item1 {
        margin-left: 55%;
    }
}

.item1 .MuiTypography-root {
    margin-bottom: 40px;
}

/* Images */
.intro-image1, .intro-image2 {
    max-width: 800px;
    height: auto; 
    display: block;
}

.custom-MUIDivider{
    margin: unset !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Create a basic Masonry layout */
.masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .masonry-column {
    flex: 1;
    padding: 5px; /* Add spacing between columns */
    box-sizing: border-box;
  }
  
  .masonry-column img {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Add spacing between images */
  }

  .masonry .masonry-column:nth-child(1) img:nth-child(1){
    border-radius: 10px 0 0 0;
  }

  .masonry .masonry-column:nth-child(1) img:nth-child(3){
    border-radius: 0 0 0 10px;
  }

  .masonry .masonry-column:nth-child(3) img:nth-child(1){
    border-radius: 0 10px 0 0;
  }

  .masonry .masonry-column:nth-child(3) img:nth-child(3){
    border-radius: 0 0 10px 0;
  }




  .founder-container {
    position: relative;
  }
  
  .background-div {
    position: absolute;
    top: 100%; /* Place it below the Card */
    left: 0;
    width: 100%; /* Inherit width from container */
    height: 500px;
    background-color: red; /* Background color */
    z-index: -1; /* Place it behind the Card */
  }