.intro-quote {
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.colored-font {
  color: var(--blue);
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    position: relative;
}

.grid-item {
    position: relative;
}

.item1 {
    margin: auto 50px auto 15%;
    display: block;
    transition: margin-left 0.5s ease-in-out;
}
@media(min-width: 2000px) {
    .item1 {
        margin-left: 55%;
    }
}

.item1 .MuiTypography-root {
    margin-bottom: 40px;
}

/* Images */
.intro-image1, .intro-image2 {
    max-width: 800px;
    height: auto; 
    display: block;
}

.custom-MUIDivider{
    margin: unset !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
  }
  .blue-section-container {
    margin: 0 7%;
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
  }
}

@media (max-width: 767px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .blue-section-container {
    margin: 0 7%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .gallery-wrap {
    flex-direction: column !important;
  }

  .grid-container {
    grid-template-columns: 100% !important;
    height: 500px;
  }
  .item2 {
    position: absolute;
    z-index: -999;
    opacity: 0.5;
  }

  .intro-message {
    text-justify: inter-word;
    text-align: justify;
    text-shadow: 1px 0px 4px rgba(255, 255, 255, 1);
    color: black;
  }

  .primary-btn {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  }
}

.blue-section {
  background-color: var(--blue);
  height: 500px;
}

.subcontainer {
  margin: 0 7%;
  position: relative;
}

.custom-accordion-details {
  margin: auto;
  padding: 30px 10px;
  text-align: justify;
  text-justify: inter-word;
}
.custom-accordion-summary button div, 
.custom-accordion-summary button span:nth-child(2) {
  font-weight: 500;
  font-size: large;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("../../../public/images/gallery/8.jpg");
}

.item-2 {
  background-image: url("../../../public/images/gallery/9.jpg");
}

.item-3 {
  background-image: url("../../../public/images/gallery/1.jpg");
}

.item-4 {
  background-image: url("../../../public/images/gallery/5.jpg");
}

.item-5 {
  background-image: url("../../../public/images/gallery/3.jpg");
}


@media (max-width: 768px) {
  .leaf1 {
    left: -50% !important;
  }

  .leaf2 {
    right: -50% !important;
  }
}


.leaf {
  position: absolute;
  z-index: -999;
  height: 300px;
  opacity: 0.5;
}

.leaf1 {
  left: -15%;
  top: -10%;
  transition: left 0.5s;
}

.leaf2 {
  bottom: -10%;
  rotate: 180deg;
  right: -15%;
  transition: right 0.5s;
}