.justify-center {
    justify-content: unset;
}

.page-details {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-grid {
    margin-top: 50px !important;
}

.custom-breadcrumb {
    background-color: #e9f1f3;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 30px;
}

.bcumb-icon {
    font-size: 12px;
    padding-right: 7px;
}